.thanks{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
  box-sizing: border-box;
  gap: 30px;
  flex-direction: column;
}

.title{
  margin: 0;
  line-height: 1.7;
  font-size: 30px;
  width: 95%;
  text-align: center;
}

.text{
  width: 95%;
  font-size: 20px;
  margin: 0;
  text-align: center;
}

.image{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  object-fit: cover;
  filter: grayscale()
}

@media screen and (max-width: 600px) {
  .thanks{
    gap: 20px;
  }

  .title{
    font-size: 20px;
  }

  .text{
    font-size: 15px;
  }

  .image{
    width: 200px;
    height: 200px;
  }
}