.summary{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 10px;
  width: 70%;
  flex-direction: column;
  margin: 0 auto;
}

.title{
  font-size: 30px;
  line-height: 1.7;
  margin: 0;
}

.categoty{
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
}

.information{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  gap: 50px;
}

.sum{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.payment{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text{
}


