.sale{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
}

.title{
  font-size: 50px;
  margin: 20px 0;
  text-transform: uppercase;
}

.categories {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.container{
  width: 100px;
  height: 45px;
}

@media screen and (max-width: 600px) {
  .title{
    font-size: 30px;
  }

  .categories{
    flex-wrap: wrap;
    font-size: 12px;
    gap: 10px
  }
}