.container{
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product{
  width: 80%;
  margin: 0 auto;
  gap: 20px;
  padding: 50px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.links{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.link{
  text-decoration: none;
  font-size: 15px;
  color: #BBB;
  text-transform: uppercase;
  transition: color ease-in-out .3s;
}

.link:hover{
color: #000;
}

.card{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
}

.slider{
  width: 50%;
}

.description{
  width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
}

.title{
  font-size: 20px;
  margin: 0;
}

.title_clickable{
  cursor: pointer;
}

.text{
  font-size: 15px;
  margin: 0;
  line-height: 1.7;
  margin-bottom: 20px;
}

.text_additional{
  display: none;
  cursor: pointer;
}

.text_additional_clicked{
  display: block;
  animation: slideup ease-in-out .3s;
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}


.image{
  width: 500px;
  height: 550px;
  object-position: center;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.price{
  display: flex;
  gap: 20px;
  font-size: 20px;
  margin: 10px 0;
}

.number{
  margin: 0;
}

.number_with_discount{
  text-decoration: line-through;
  color: #BBB
}

.discount{
  margin: 0;
}

.button{
  background-color: #000;
  border-radius: 5px;
  padding: 10px 15px;
  border: none;
  color: #FFF;
  font-weight: 500;
  font-family: inherit;
  font-size: 15px;
  transition: background-color ease-in-out .3s;
  cursor: pointer;
}

.button:hover{
  background-color: rgb(255,41,50);
}

.images_container{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  overflow-x: scroll;
  width: 500px;
}

.image_preview{
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.image_preview_active{
  filter: grayscale(100%);
}

.wrapper{
  position: relative;
  width: 500px;
}

.icon{
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: #BBB;
  border-radius: 50%;
  transition: ease-in-out .3s background-color;
}

.icon_left {
  top: 50%;
  left: 10px;
}

.icon_right{
  top: 50%;
  right: 10px;
}

.icon:hover{
  background-color: rgb(255,41,50);
  cursor: pointer;
}

.icon_left::after{
  content: '';
  width: 10px;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  transform: rotate(-45deg);
  top: 36.7%;
  left: 30%;
  border-radius: 1px;
}

.icon_left::before{
  content: '';
  width: 10px;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  transform: rotate(45deg);
  bottom: 36.7%;
  left: 30%;
  border-radius: 1px;
}

.icon_right::after{
  content: '';
  width: 10px;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  transform: rotate(45deg);
  top: 36.7%;
  right: 30%;
  border-radius: 1px;
}

.icon_right::before{
  content: '';
  width: 10px;
  height: 2px;
  background-color: #FFF;
  position: absolute;
  transform: rotate(-45deg);
  bottom: 36.7%;
  right: 30%;
  border-radius: 1px;
}