.button{
  font-family: inherit;
  background-color: transparent;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: ease-in-out .3s color;
  color: #bbb;;
  transition: .3s ease-in-out background-color;
  background-color: transparent;
  text-decoration: none;
}

.group{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button + .button{
  color: #000;
}

.button:hover{
  color: rgb(255,41,50)
}

.button_classic{
  font-family: inherit;
  background-color: transparent;
  border-radius: 5px;
  padding: 10px 35px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: ease-in-out .3s color;
  color: #fff;
  transition: .3s ease-in-out background-color;
  background-color: #000;
}

.button_classic:hover{
  background-color:  rgb(255,41,50);
}