.checkout{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 70px 10px;
}

.steps{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.line{
  width: 100%;
  height: 2px;
  background-color: #000;
}

.step{
  width: 30px;
  height: 30px;
  border: 2px solid #000;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.step_text{
  font-size: 20px;
  width: 30px;
  text-align: center;
}

.button{
  font-family: inherit;
  background-color: transparent;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: ease-in-out .3s color;
  color: #bbb;;
  transition: .3s ease-in-out background-color;
  background-color: transparent;
}

.group{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button + .button{
  color: #000;
}

.button:hover{
  color: rgb(255,41,50)
}




