.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: 20px;
  font-weight: 100;
}

.nav {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  position: relative;
}

.link {
  text-decoration: none;
  cursor: pointer;
  transition: color ease-in-out .3s;
  color: #000;
  margin: 0;
}

.link_active {
  color: rgb(255, 41, 50);
}

.link:hover {
  color: #bbb;
}

.cart {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #FFF;
  border-radius: 50%;
  z-index: 10;
}

.icon {
  width: 70px;
  height: 70px;
}

.quantity {
  width: 30px;
  height: 30px;
  position: absolute;
  background-color: rgb(255, 41, 50);
  ;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 30px;
  right: 5px;
}

.categories {
  background-color: #FFF;
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  width: 250px;
  padding: 20px;
  height: 150px;
  box-shadow: -5px 50px 37px -20px rgba(189, 185, 189, 1);
  border-radius: 5px;
}

.catalog:hover .categories {
  display: block;
  animation: slideup ease-in-out .3s;
}

.category:hover>.link {
  color: rgb(255, 41, 50);
}

.subcategories {
  display: none;
  background-color: #fff;
  position: absolute;
  display: none;
  list-style: none;
  margin: 0;
  right: 0;
  top: 0;
  padding: 20px;
  border-radius: 5px;
}

.category:hover>.subcategories {
  display: block;
  color: #000;
  animation: slideleft ease-in-out .3s;
}

.burger_menu {
  display: none;
}

.nav_mobile {
  display: none;
}

@keyframes slideup {
  0% {
    opacity: 0;
    transform: translateY(-5px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes slideleft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

@media screen and (max-width: 720px) {

  .header {
    padding: 0;
  }

  .close_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
  }

  .burger_menu {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #FFF;
    top: 0;
    left: 0;
    z-index: 9;
    height: 60px;
    box-sizing: border-box;
  }

  .nav_mobile .link {
    text-transform: uppercase;
    font-size: 15px;
  }

  .nav {
    display: none;
  }

  .cart {
    top: 0;
    right: 10px;
    z-index: 10;
    border-radius: none;
    background-color: transparent;
  }

  .icon {
    width: 60px;
    height: 60px;
  }

  .menu_icon {
    padding-left: 20px;
    cursor: pointer;
  }

  .background {
    background-color: rgba(189, 185, 189, .2);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .nav_mobile {
    padding: 50px;
    box-sizing: border-box;
    width: 70%;
    height: 100vh;
    background-color: #FFF;
    z-index: 11;
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    gap: 10px;
  }

  .nav_mobile_open {
    display: flex;
  }

  .submenu {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
    box-sizing: border-box;
  }

  .submenu .link {
    text-transform: none;
  }

  .cart_menu_open {
    position: fixed;
    top: auto;
    bottom: 50px;
    left: 25%;
    z-index: 10;
    border-radius: none;
    background-color: transparent;
    z-index: 12;
  }

}