.intro{
width: 50%;
margin: 0 auto;
padding: 100px 10px 150px;
}

.moto{
  margin: 0;
  font-size: 70px;
  text-align: center;
  font-weight: 600;
}

.description{
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
  font-weight: 100;
  line-height: 1.7;
}


@media screen and (max-width: 800px) {
  .intro{
    padding: 50px 10px;
    width: 80%;
    box-sizing: border-box;
  }

  .moto{
    font-size: 30px;
  }

  .description{
    font-size: 15px;
    margin: 20px 0;
  }
}